/* animation for nav bar show hide */

.slide {
    /* animation: slide 2s linear 300ms alternate-reverse ; */

    transition-duration: 2s;

}

.navImg:hover {
    animation: blink 1s linear 1s infinite alternate-reverse;
}

@keyframes blink {
    0% {
        box-shadow: 0px 1px 20px 0px red;
    }

    100% {
        box-shadow: 0px 1px 20px 11px red;

    }
}

.ulNav label:hover {
    animation: listBlink 1s linear 1ms infinite alternate-reverse;

}

.ulNav input[type="radio"]:checked+label {
    animation: listBlink 1s linear 1ms infinite alternate-reverse;

}

@keyframes listBlink {
    0% {
        box-shadow: 1px 1px 20px 0px #E59C86;
    }

    100% {
        box-shadow: 1px 1px 20px 5px #E59C86;
    }
}

/* Nav animation ended, 
Overview starts
*/

.view:hover,
.todayView:hover,
.complaintStatusTable button:hover {
    animation: overviewBtnBlink 1s linear 1ms infinite alternate-reverse;

}

@keyframes overviewBtnBlink {
    0% {
        box-shadow: 1px 1px 20px 0px #99e596cd;
    }

    100% {
        box-shadow: 1px 1px 20px 12px #99e596cd;
    }
}