* {
    margin: 0;
    padding: 0;
}

/* nav styling */
.nav {
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: rgba(20, 50, 88);
    color: white;
    text-align: center;
    overflow: hidden;


}

.pageHeadingImg {
    width: 2vw;
    padding-right: 10px;
    filter: brightness(0) invert(1);
}


#pageHeading {
    position: relative;
    top: 20px;
}

.navUl {
    position: relative;
    /* top: 2vw; */
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navUl input[type="radio"] {
    display: none;
}

.label {
    position: relative;
    top: 0vw;
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.navUl img {
    filter: brightness(0) invert(1);
    width: 4vw;
    position: relative;
    top: 1.5vw;
}

.navUl a {
    text-decoration: none;
    color: white;
    position: relative;
    top: -1.6vw;
    padding: 20px 47px;
}

.navUl li:hover {
    background-color: rgba(36, 65, 107);
    padding: 3px 0px;
    border-radius: 15%
        /* text-transform: capitalize; */
}


.navUl input[type="radio"]+label {
    background-color: rgba(36, 65, 107);

}

/* dashboard img  */
#dashboard {
    width: 2.9vw;
    top: 2vw;
}

/* complaints in nav  */

#complaints {
    width: 2.6vw;
    padding-right: 10px;

}

.navII {
    position: relative;
    top: 1vw;
}

/* assignments in nav  */
#assignments {
    width: 2.6vw;
    padding-right: 10px;

}

.navIII {
    position: relative;
    top: 1vw;
}

/* visual in nav  */
#visualImg {
    width: 2.5vw;
    padding-right: 10px;

}

.navIV {
    position: relative;
    top: 1vw;
}

/* logout in nav  */
#logoutImg {
    width: 2.6vw;
    padding-right: 10px;

}

.navV {
    position: relative;
    top: 1vw;
}