.main {
    width: 85vw;
    height: 97vh;
    position: relative;
    left: 15vw;
    /* background-color: rgb(203, 201, 201); */
    top: 16px;
    overflow: hidden;
}



/* horizontal nav  */

.pageUlNav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.mainPageHeading {
    position: relative;
    left: 3vw;
    cursor: default;
    box-shadow: 2px 2px 14px 5px grey;
}

.notificationNavImg {
    width: 3vw;
    position: relative;
    left: 39vw;
    cursor: pointer;
}

.profileLogo {
    display: inline-block;
    width: 3vw;
    height: 6vh;
    background-color: grey;
    border-radius: 100%;
    position: relative;
    left: 26vw;
    cursor: pointer;


}


.dropdownArrow {
    width: 1vw;
    cursor: help;
}

.userNameCont {
    position: relative;
    left: 12vw;
    cursor: pointer;
}

.userNameCont a {
    text-decoration: none;
    color: black;
}

/* styling for first row data  */
.rowI div,
.rowII div {
    display: inline-block;
}

/* total complaints */

.totalComplaints {
    width: 22vw;
    height: 8vw;
    padding: 10px 0px 0px 0px;
    background-color: rgba(146, 147, 148, 0.271);
    position: relative;
    left: 2vw;
    top: 1vw;
    text-align: center;
    font-size: xx-large;
}

.rowComplaintsImg {
    width: 2vw;
    /* filter: brightness(0) invert(1); */
}

.totalComplaints :nth-child(2) {
    font-size: xxx-large;
    position: relative;
    left: -4vw;
    top: 1vw;
    color: red;
    ;
}

.totalComplaints :nth-child(3) {
    width: 5vw;
    height: 5vh;
    position: relative;
    left: 7vw;
    top: -2vw;
    background-color: rgba(29, 85, 215);
    border-radius: 10%;
}

.totalComplaints :nth-child(3) a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* today's complaints styling */

.todayComplaints {
    width: 25vw;
    height: 8vw;
    padding: 10px 0px 0px 0px;
    background-color: rgba(146, 147, 148, 0.271);
    position: relative;
    left: 6.2vw;
    top: 1vw;
    text-align: center;
    font-size: xx-large;

}

.rowComplaintsImg {
    width: 2vw;
    /* filter: brightness(0) invert(1); */
}

.todayComplaints :nth-child(2) {
    font-size: xxx-large;
    position: relative;
    left: -4vw;
    top: 1vw;
    color: red;
    ;
}

.todayComplaints :nth-child(3) {
    width: 5vw;
    height: 5vh;
    position: relative;
    left: 7vw;
    top: -2vw;
    background-color: rgba(29, 85, 215);
    border-radius: 10%;
}

.todayComplaints :nth-child(3) a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* pending complaints styling */

.pendingComplaints {
    width: 25vw;
    height: 8vw;
    padding: 10px 0px 0px 0px;
    background-color: rgba(146, 147, 148, 0.271);
    position: relative;
    left: 10vw;
    top: 1vw;
    text-align: center;
    font-size: xx-large;

}

.rowComplaintsImg {
    width: 2vw;
    /* filter: brightness(0) invert(1); */
}

.pendingComplaints :nth-child(2) {
    font-size: xxx-large;
    position: relative;
    left: -4vw;
    top: 1vw;
    color: red;
    ;
}

.pendingComplaints :nth-child(3) {
    width: 5vw;
    height: 5vh;
    position: relative;
    left: 7vw;
    top: -2vw;
    background-color: rgba(29, 85, 215);
    border-radius: 10%;
}

.pendingComplaints :nth-child(3) a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Overdue complaints styling */

.overdueComplaints {
    width: 15vw;
    height: 12vw;
    padding: 30px 0px 0px 0px;
    background-color: rgba(146, 147, 148, 0.271);
    position: relative;
    left: 2vw;
    top: 15.2vw;
    text-align: center;
    font-size: 1.8em;

}

.rowComplaintsImg {
    width: 2vw;
    /* filter: brightness(0) invert(1); */
}

.overdueComplaints :nth-child(2) {
    font-size: xxx-large;
    position: relative;
    left: 4vw;
    top: 1vw;
    color: green;
    font-weight: bolder;
}

.overdueComplaints :nth-child(3) {
    width: 1vw;
    height: 2vh;
    position: relative;
    left: -1vw;
    top: -2vw;
    background-color: rgb(255, 42, 0);
    border-radius: 100%;
}

.overdueComplaints :nth-child(3) a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Resolved complaints styling */

.resolvedComplaints {
    width: 15vw;
    height: 12vw;
    padding: 30px 0px 0px 0px;
    background-color: rgba(146, 147, 148, 0.271);
    position: relative;
    left: -13.2vw;
    top: .9vw;
    text-align: center;
    font-size: 1.8em;

}

.rowComplaintsImg {
    width: 2vw;
    /* filter: brightness(0) invert(1); */
}

.resolvedComplaints :nth-child(2) {
    font-size: xxx-large;
    position: relative;
    left: 4vw;
    top: 1vw;
    color: green;
    font-weight: bolder;
}

.resolvedComplaints :nth-child(3) {
    width: 1vw;
    height: 2vh;
    position: relative;
    left: -1vw;
    top: -2vw;
    background-color: rgb(29, 215, 38);
    border-radius: 100%;
}

.resolvedComplaints :nth-child(3) a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* overdue table styling */

.overdueTable {
    width: 26vw;
    height: 25vw;
    background-color: rgba(146, 147, 148, 0.271);
    position: relative;
    left: -8.8vw;
    top: -6vw;
    text-align: center;

}

.overdueTable table {
    width: 100%;
    height: 70%;
    border-bottom: 2px solid;
    cursor: pointer;
}

.overdueTable table th {
    background-color: #819899ad;
}

.overdueTable table td:nth-child(2) {
    /* width: 100%; */
    background-color: rgba(255, 0, 0, 0.362);

}

.overdueTable table tr:hover {
    background-color: rgba(244, 247, 249);
;
}

.overdueTable table a {
    text-decoration: none;
    color: black;

}

.overdueTable table td:nth-child(4) {
    background-color: rgba(244, 247, 249);

}

.overdueTable table td:nth-child(4):hover{
    background-color: rgba(36, 66, 107, 0.321);
    color: blue;
}

.overdueTable table td:nth-child(4) a:hover{
    color: rgb(0, 0, 255);
}


/* pie chart styling */

.pieContI {
    width: 30vw;
    height: 20vw;
    padding: 30px 0px 0px 0px;
    background-color: rgba(146, 147, 148, 0.271);
    position: relative;
    left: 53.2vw;
    top: -30vw;
    text-align: center;
    font-size: 1.8em;

}

#pieI {
    position: relative;
    left: 7vw;
    top: -1vw;
}